In [0]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = 'ignore')

In [0]:
Transformed_Housing_Data2 = pd.read_csv('Transformed_Housing_Data2.csv')

In [28]:
Transformed_Housing_Data2.head()

   Sale_Price  ...  Zipcode_Group_Zipcode_Group_9
0    221900.0  ...                              0
1    538000.0  ...                              0
2    180000.0  ...                              0
3    604000.0  ...                              0
4    510000.0  ...                              0

[5 rows x 31 columns]

In [0]:
Y = Transformed_Housing_Data2.iloc[ : , 0]
X = Transformed_Housing_Data2.iloc[ : , 1:31]

In [30]:
X.head()

   No of Bedrooms  ...  Zipcode_Group_Zipcode_Group_9
0               3  ...                              0
1               3  ...                              0
2               2  ...                              0
3               4  ...                              0
4               3  ...                              0

[5 rows x 30 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y , test_size = 0.3)

In [33]:
X_train.shape

(15126, 30)

In [34]:
X_test.shape

(6483, 30)

In [35]:
Y_train.shape

(15126,)

In [36]:
Y_test.shape

(6483,)

In [37]:
X.describe()

       No of Bedrooms  ...  Zipcode_Group_Zipcode_Group_9
count    21609.000000  ...                   21609.000000
mean         3.370771  ...                       0.002314
std          0.929916  ...                       0.048048
min          0.000000  ...                       0.000000
25%          3.000000  ...                       0.000000
50%          3.000000  ...                       0.000000
75%          4.000000  ...                       0.000000
max         33.000000  ...                       1.000000

[8 rows x 30 columns]

## Standardisation

In [0]:
from sklearn import preprocessing
scale = preprocessing.StandardScaler()

In [0]:
X_train = scale.fit_transform(X_train)

In [41]:
X_train

array([[-0.40178413,  0.49980828,  0.13767839, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [ 0.6625568 ,  0.49980828,  0.21379313, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [-0.40178413,  0.49980828,  0.94231996, ..., -0.11308736,
        -0.17248233, -0.05018523],
       ...,
       [-1.46612505, -1.77488333, -0.81919267, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [-1.46612505, -0.8000155 , -0.86268681, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [ 0.6625568 ,  0.82476423,  1.52731613, ..., -0.11308736,
        -0.17248233, -0.05018523]])

In [0]:
X_test  = scale.transform(X_test)

In [43]:
X_test

array([[-0.40178413,  0.49980828, -0.41687189, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [-0.40178413,  0.49980828,  0.63786099, ..., -0.11308736,
        -0.17248233, -0.05018523],
       [-1.46612505, -1.44992739, -1.46073122, ..., -0.11308736,
        -0.17248233, -0.05018523],
       ...,
       [-1.46612505, -1.44992739, -1.2650076 , ..., -0.11308736,
        -0.17248233, -0.05018523],
       [ 2.79123865,  1.14972017,  1.55123791, ...,  8.84272115,
        -0.17248233, -0.05018523],
       [-0.40178413, -0.15010361, -0.88443388, ..., -0.11308736,
        -0.17248233, -0.05018523]])